body {
  margin: 60px auto;
  width: 70%;
  background-color: #eeeeee;
}

nav ul {
  border-radius: 5px 5px 0 0;
}

footer ul {
  border-radius: 0 0 5px 5px;
}

nav ul,
footer ul {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  padding: 0px;
  list-style: none;
  font-weight: bold;
  background-color: #ffffff;
  margin: 0;
  padding: 1em;
  color: #383939;
}

nav ul li,
footer ul li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #08c;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3em;
  font-family: "Helvetica", "Arial", "Sans-Serif";
  margin: 0;
  padding: 7px;
  color: #383939;
}

h2 {
  font: 400 2em "Cookie", Helvetica, sans-serif;
  margin: 0;
  padding: 7px;
  color: #383939;
}

h3 {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  margin: 0;
  padding: 7px;
  color: #383939;
}

p {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  font-size: 1em;
  line-height: 1.2em;
  color: #383939;
}

li {
  margin: 0 0 1em 0;
  font-family: "Helvetica", "Arial", "Sans-Serif";
  color: #383939;
}

.header {
  background-color: #ffffff;
  border-bottom: 3px solid #d5d5d5;
  padding: 1em;
}

.container {
  background-color: #ffffff;
  padding: 1.5em;
}

#portrait-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
}

#portrait {
  /* 
  display: block;
  margin-left: auto;
  margin-right: auto;
  */
  background-color: #08c;
  width: 300px;
  height: 300px;
  padding: 10px;
  border-radius: 300px;
}

#resume-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

footer {
  border-top: 3px solid #d5d5d5;
  font-size: 0.8em;
}
